<h1>Frontend-разработчик: <span>Ловкий ниндзя</span></h1>
<div class="flex-container">
	<div class="left">
		<p>
			Frontend-разработчик — это программист, который стоит ближе всех к пользователю. Именно он отвечает за
			всю
			магию на сайтах — чтобы работали формы, нажимались кнопочки, выпадали нужные пункты меню, листались
			фотографии и красиво прокручивались страницы.
		</p>
		<h2>
			О профессии
		</h2>
		<p>
			Чтобы понять, чем занимается frontend-разработчик, достаточно открыть любой современный сайт: всё, что
			будет
			открываться и двигаться, с чем вы будете взаимодействовать, — это работа frontend-разработчика.
		</p>
		<p>
			Если на любом сайте открыть контекстное меню и выбрать пункт «Исходный код страницы», то можно увидеть
			код
			сайта, который написал frontend-разработчик.
		</p>
		<p>
			Любой крупный сайт или интернет-сервис, как правило, состоит из двух частей: программного кода, который
			выполняется на сервере, и интерфейса, с которым взаимодействует пользователь в браузере. Именно
			frontend-разработчик отвечает за это взаимодействие: создаёт HTML-страницы на основе дизайн-макетов и
			пишет
			скрипты, которые эти страницы «оживляют».
		</p>
		<img   class="img"src="https://ladyvamp.github.io/images/svg/frontend-developer.svg" alt="frontend-developer">
	</div>
		<div class="right">
			<p>
				Интерфейсы современных сайтов становятся всё более сложными, а устройства, с помощью которых люди
				выходят в
				сеть, всё более разнообразными. Поэтому frontendер должен быть настоящим ниндзя и постоянно
				совершенствовать
				своё ремесло: быть в курсе всех новинок, «фишек» и трюков, уметь адаптировать поведение сайта, чтобы
				пользоваться им было одинаково удобно с ноутбука, планшета или смартфона, с помощью мышки или пальцев.
			</p>
			<h2>Инструменты и навыки</h2>
			<p>
				Профессия фронтендера держится на двух основных вещах: вёрстке страниц сайтов (HTML+CSS) и
				программировании
				пользовательского интерфейса (Javascript). Поначалу сайты были простыми, и всем frontendом занимались
				верстальщики. Но потом появился JavaScript, появились динамические интерфейсы, и верстальщики
				превратились
				во frontend-разработчиков. Сегодня интерфейсы становятся всё более сложными, и эта тенденция постепенно
				разворачивается вспять: frontend-разработчик опять всё больше превращается в верстальщика, который
				работает
				над внешним видом страниц, а javascript-программисты становятся отдельной «кастой».
			</p>
			<p>
				Одной из базовых задач фронтендера является вёрстка сайтов — написание HTML-кода и CSS-стилей для
				представления информации в виде, понятном браузерам, и придания сайту нужного внешнего вида.
			</p>
			<p>
				Как правило, frontendер получает от продуктового дизайнера дизайн-макет и превращает его в готовую
				HTML-страницу. Иногда макеты не отражают всех деталей, и frontendеру нужно быть немного дизайнером,
				чтобы
				уметь правильно интерпретировать задумку, учитывать все нюансы и технические детали.
			</p>
			<p>
				Главный язык программмирования для frontend-разработчика — JavaScript. Сегодня он лидирует в мире по
				числу
				репозиториев — хранилищ с кодом в самом популярном месте — GitHub. Все ведущие
				IT-компании мира используют JavaScript.
			</p>
			<h2>
				Образование и карьера
			</h2>
			<p>
				Чтобы стать хорошим frontend-программистом, желательно получить фундаментальные знания по
				специальности. Кроме того, frontend-разработчику обязательно нужно самообразование. Принцип такой: «Не
				важно,
				где ты учишься: учись еще!». Это непреложная истина, поскольку только самообразование позволяет
				оставаться
				«на острие» технологическго прогресса. Ни одна система фундаментального образования не дает
				действительно
				актуальных сведений о технологиях: она только закладывает основу. А технологии эволюционируют каждый
				день —
				и интернет дает возможность быть в курсе всех перемен.
			</p>
		</div>
	</div>

	<footer>
		Copyright © 2020 <a href="https://ladyvamp.github.io/" target="_blank"
			title="Перейти на страницу портфолио">Nadezhda
			Dyakova aka LadyVamp</a><br>
  </footer>